.modal__signUp
  %p.modal__title 会員登録
  = button_tag "", class: "modal__linkTo__signInUp" do
    ログインはこちら
    = icon("fas", "angle-right", class: "modal__linkTo__signInUp__icon")
  %p.modal__subtitle \約1分で登録でき、Makuakeを楽しめます！/
  .modal__content
    .modal__content__left
      %p.modal__content__title SNSで登録
      = link_to "", class: "modal__content__regist facebookColor" do
        = icon("fab", "facebook-f", class: "modal__content__regist__icon")
        Facebook
      = link_to "", class: "modal__content__regist twitterColor" do
        = icon("fab", "twitter", class: "modal__content__regist__icon")
        Twitter
      = link_to "", class: "modal__content__regist lineColor" do
        = icon("fab", "line", class: "modal__content__regist__icon")
        LINE
      = link_to "", class: "modal__content__regist amebaColor" do
        = icon("fas", "baseball-ball", class: "modal__content__regist__icon")
        Ameba
    .modal__content__right
      %p.modal__content__title メールアドレスで新規登録
      = form_for resource, as: resource_name, url: registration_path(resource_name) do |f|
        .modal__content__field
          = f.label "メールアドレス", class: "modal__content__field__label"
          = f.email_field :email, autofocus: true, autocomplete: "email", class: "modal__content__field__input"
        .modal__content__field
          = f.label "確認", class: "modal__content__field__label"
          = f.email_field :email, autocomplete: "email", class: "modal__content__field__input"
        .modal__content__field
          .modal__content__field__note
            = f.label "ユーザー名", class: "modal__content__field__label"
            %p.modal__content__field__note__explanation ※全角.半角英数字3-20文字
          = f.text_field :name, autocomplete: "off", class: "modal__content__field__input"
        .modal__content__field
          .modal__content__field__note
            = f.label "パスワード", class: "modal__content__field__label"
            %p.modal__content__field__note__explanation ※半角英数字6文字以上
          = f.password_field :password, autocomplete: "off", class: "modal__content__field__input"
        .modal__content__field
          = f.label "確認", class: "modal__content__field__label"
          = f.password_field :password_confirmation, autocomplete: "off", class: "modal__content__field__input"
        .modal__content__actions
          .modal__content__actions__agreement
            = f.check_box :agreement, as: "boolean", checked: false
            = link_to "利用規約", "", target: "blank"
            に同意する
          %p.modal__content__field__note__explanation ※makuake.comからのメールアドレスが受信拒否設定に含まれていないかご確認ください。
          %p.modal__content__field__note__explanation ※Makuakeからのメールマガジン／各種お知らせをお送りさせていただきます。（不要な場合は登録後に解除できます。）
          = f.submit "OK", class: "modal__content__actions__signUpButton"
/ <div class="agreement">
/ <label class="checkbox">
/ <%= f.input :agreement, :as => :hidden %><%# エラーメッセージ表示用 %>
/ <%= f.check_box :agreement, :as => :boolean, checked:false %>
/ <%= link_to "利用規約", terms_path, { target:"blank" } %>に同意する
/ </label>
/ <small class="help-block">※利用規約に同意できない場合は登録をご遠慮ください。</small>
/ </div>
